.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #171719; /* dark navy blue */
    color: #fff; /* white */
    font-family: 'Roboto Mono', monospace;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 1%;
    margin-right:2%
  }
  
  .button {
    padding: 10px 30px;
    margin: 1%;
    margin-right:3%; 
    border: none;
    border-radius: 4px;
    background-color: #007aff; /* vibrant pink */
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #00356f; /* darker pink */
  }
  .buttonContainer {
    margin-top: 3%;
    display: flex;
    gap: 0px;/* Space between the buttons */
  }
  
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%; /* Adjust this value to fit your design */
    margin: 20px 0;
    margin-left: 10%;  /* Added this */
  }
  
  .section h3 {
    font-size: 1.5em;
    margin-bottom: 1%;
    margin-right: 15%;
  }
  
  .section p {
    font-size: 1em;
    color: #ccc; /* light grey */
}
  

.textBox {
    width: 100%;
    height: 200px; /* adjust as needed */
    margin-top:2%;
    margin-right:12%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(66, 117, 175);
    background-color:#202025 ;
    overflow-y: auto; /* enables vertical scrolling */
    white-space: pre-wrap; /* preserves newlines and spaces */
    font-family: monospace; /* to look like a text box */
    line-height: 1.5;
  }

  @media only screen and (max-width: 600px) {
    .app {
      padding: 10px; /* Add some padding for small screens */
    }
  
    .section {
      width: 90%; /* Increase width for small screens */
      margin-left: 2%; /* Adjust this value to fit your design */
    }
  
    .textBox {
      width: 100%; /* Full width for small screens */
      margin-right: 0; /* No margin on the right for small screens */
    }
    
    .section h3 {
      font-size: 1.2em; /* Make the text a bit smaller */
      margin-left: 12%; /* Remove the margin */
      text-align: center; /* Center the text */
    }
  }